.app__benefits {
    width: 100%;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(90deg, rgba(204, 228, 228, 1) 0%, rgba(255, 255, 255, 1) 100%);
    padding-top: 0;
}

.app__benefits-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 5rem;
    padding: 0 2rem;
}

.app__benefits-links_contact,
.app__benefits-links_logo,
.app__benefits-links_work {
    flex: 1;
    margin: 1rem;
    text-align: center;
}

.app__benefits-links_logo img:first-child {
    width: 210px;
    margin-bottom: 0.75rem;
}

/* .app__benefits-links_work p:nth-child(2n + 1) {
    margin-bottom: 1rem;
} */

.app__benefits-links_icons {
    margin-top: 0.5rem;
}

.app__benefits-links_icons svg {
    color: var(--color-black);
    margin: .5rem;
    font-size: 30px;
}

.app__benefits-headtext {
    font-family: var(--font-base);
    color: var(--color-green);
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    margin-top: 3rem;
}

.app__benefits-paragraph {
    font-family: var(--font-alt);
    color: var(--color-green);
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
    margin: 1.5rem 0 0 0 ;
}

.benefits__copyright {
    margin-top: 3rem
}

@media screen and (min-width:2000px) {
    .app__benefits-headtext {
        font-size: 51px;
        line-height: 61.6px;
    }
}

@media screen and (min-width:2000px) {
    .app__benefits-headtext {
        font-size: 51px;
        line-height: 61.6px;
    }
}

@media screen and (max-width:1150px) {
    .app__benefits-links {
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .app__benefits-links_contact,
    .app__benefits-links_logo,
    .app__benefits-links_work {
        margin: 2rem 0;
        /* width: 100%; */
    }
}

@media screen and (max-width:650px) {
    .app__benefits {
        padding: 0 0 2rem 0;
    }
}

@media screen and (max-width:350px) {
    .app__benefits-links_logo img:first-child {
        width: 80%;
    }
}