.account__center {
    max-height: 100%;
    height: 500px;
    width: 100%;
}

.account__header-text {
    font-size: 40;
    padding: 4rem 5rem;
    color: #072D2E;
}

.account__search-bar {
    padding-left: 5rem;
}

.search__account {
    height: 40px;
    width: 1000px;
    padding: 0rem 1rem;
    border-radius: 10px;
    font-size: 22;
}
