.navbar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-darkgreen);

    padding: 0.7rem 1.5rem;
}

.navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.navbar-logo img {
    max-width: 43px;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.navbar-p {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 20px;
    margin: 0;
}

.navbar-links li {
    margin: 0 1.5rem;
    cursor: pointer;
}

.navbar-links li:hover {
    color: var(--color-grey);
    border-bottom: 1px solid var(--color-golden);
}

.navbar-login,
.navbar-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-login a {
    margin: 0 0.7rem;
    text-decoration: none;
    transition: .5s ease;
}

.navbar-login a:hover {
    border-bottom: 1px solid var(--color-golden);
}

.active {
    border-bottom: 1px solid var(--color-golden);
}

.navbar-login div {
    max-width: 1px;
    max-height: 30px;
    background: var(--color-grey);
}

.navbar-input {
    flex-direction: row;
    margin-top: auto;
}

.navbar-input input {
    max-width: 250px;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--font-alt);

    color: var(--color-black);

    margin-right: 1rem;
    padding: 0.2rem 0.4rem;
    background: var(--color-white);
}

.navbar-input-search::placeholder {
    color: lightgray;
}

.navbar-icons {
    font-size: 24px;
    margin-top: 0.5rem;
    color: var(--color-golden);
}

.navbar-icons svg {
    color: var(--color-white);
    margin: 0 0.5rem 0 0;
    font-size: 26px;
    cursor: pointer;
}

.navbar-smallscreen {
    display: none;
    /* max-width: 100%; */
}

.navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100vh;
    background: var(--color-darkgreen);
    /* transition: height 10s; */

    flex-direction: column;
    z-index: 5;
}

.navbar-smallscreen_overlay,
.navbar-overlay__close {
    /* max-width: 100%; */
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;

    position: absolute;
    top: 0.5rem;
    right: 0rem;
}

.navbar-smallscreen_links {
    list-style: none;
}

.navbar-smallscreen_links li {
    margin: 0.8rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 16px;
    text-align: center;
    font-family: var(--font-alt);
}

.navbar-smallscreen_links li:hover {
    color: var(--color-golden);
}





@media screen and (min-width: 2000px) {
    .navbar-logo img {
        width: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .navbar-links {
        display: none;
    }

    .navbar-smallscreen {
        display: flex;
    }
}

/* Navbar for mobile view done */
@media screen and (max-width: 430px) {
    .navbar {
        padding: 1rem;
    }

    .navbar-login {
        display: none;
    }

    .navbar-logo img {
        display: none;
    }
}