.employee__center {
    background-color: white;
    position:absolute;
    left: 314px;
    height:1000px;
    width: 1300px;
}

.employee__header {
    top: 100px;
    padding-left: 100px;
    padding-top: 5rem;
    
}

.employee__secondary-header {
    font-size: 18px;
    padding-left: 120px;
    padding-top: 30px;
}

.employee__profile-photo {
    float: left;
    padding-left: 150px;
    padding-top: 20px;
}

.employee__personal-information {
    padding-top: 160px;
    padding-left: 160px;
    border-radius: 2px;
}

.employee__account-information {
    float: right;
    padding-right: 480px;
}

.employee__account-header {
    font-size: 18px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.employee__settings-button {
    margin-left: 30px;
    padding-top: 100px;
    
}


