/**
* Author: Buola Achor, Ling Shan Matthew Ng, Nicholas Proc, Naomy Tung, Srineethi Gurumurthi Girahhalskhmi 
* Version 0.1
* Date: 19/1/2023
*
* Description: Thank you for ordering css
*
 */

.order_confirmation-info_box {
    background-color: var(--color-medgreen);
    width: 80%;
    margin: auto;
    padding: 1rem 6rem;
    margin-bottom: 1rem;
}

.order_confirmation__desc {
    line-break: anywhere;
}
